body{
    font-family:  'Bungee', Helvetica, Arial, sans-serif;
    background-color: rgb(253, 53, 53);
    overflow-x: hidden;
    transition: all 3s;
    
}
#container{
    scroll-snap-type: y mandatory;
    padding: 0px;
}


section{
    display: flex;
    
    overflow-x:repeat;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    width: 100vw;
    background-size: cover;
    margin-left: -5px;
    position: relative;
    z-index: 0;
    margin-top: -100px;
    margin-right: -5px;
    transform: translateX(-.1rem);
    
}
::-webkit-scrollbar{
    width: 0px;
}
#image5{
    scroll-snap-align: start;
    margin-top: -250px;
    display: flex;
    position: relative;
    padding-top: 100%;
    margin-left: 0px;
    margin-bottom: -450px;
    width: 100%;
    height: 100%;
    background-image: url('WhatsApp Image 2021-10-21 at 4.45.32 PM (1).jpeg');
    background-size:100%;
    background-repeat: repeat;
    background-position: 0vw 10px;
    z-index: 0;
    flex: none;
    
   
    

}
#image2{
    scroll-snap-align: start;
    margin-top: -250px;
    display: flex;
    position: relative;
    padding-top: 100%;
    margin-bottom: -450px;
    width: 100%;
    height: 100%;
    background-image: url('WhatsApp Image 2021-10-21 at 4.45.33 PM.jpeg');
    background-size:100% ;
    background-repeat:repeat;
    background-position: -15px 150px;
    z-index: 0;
    flex: none;
}
#image{
    scroll-snap-align: start;
    margin-top: -250px;
    display: flex;
    position: relative;
    padding-top: 100%;
    margin-bottom: -450px;
    width: 100%;
    height: 100%;
    background-image: url('WhatsApp Image 2021-10-21 at 4.45.32 PM (1).jpeg');
    background-size:100% ;
    background-repeat:repeat;
    background-position: -15px 150px;
    z-index: 0;
    flex: none;
}
#image4{
    scroll-snap-align: start;
    margin-top: -250px;
    display: flex;
    position: relative;
    padding-top: 100%;
    margin-bottom: -450px;
    padding-left: 0%;
    margin-left: 0px;
    width: 100%;
    height: 100%;
    background-image: url('WhatsApp Image 2021-10-21 at 4.45.32 PM.jpeg');
    background-size:100% ;
    background-repeat: repeat;
    background-position: -15px 150px;
    z-index: 0;
    flex: none;
}
#image3{
    scroll-snap-align: start;
    margin-top: -250px;
    display: flex;
    position: relative;
    padding-top: 100%;
    margin-bottom: -450px;
    width: 100%;
    height: 100%;
    background-image: url('WhatsApp Image 2021-10-21 at 4.45.32 PM (2).jpeg');
    background-size:100% ;
    background-repeat: repeat;
    background-position: -15px -350px;
    z-index: 0;
    flex: none;
}
.head{
    
    transition: all 2s;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: -10px;
    font-size: .8em;
    box-sizing:border-box;
    position: relative;
    z-index: 2;
}
.head li{
    list-style: none;
    position: relative;
    z-index: 3;
    display: inline-block;
    margin: auto;
    margin-top: 5px;
    margin-right: 10px;
    padding: 0px 20px;
    border: 3px #000 solid;
    border-radius: 4px;
    background-color: rgb(158, 33, 33);
    
}
.head li:hover{
    transition: all .5s ;
    background-color:rgb(252, 177, 79);
    
}

li a{
    text-decoration: none;
    color: #fee;
    
}
.head h1 a{
    padding-left: 10px;
    text-decoration: none;
    position: relative;
    color: rgb(163, 24, 24);
    z-index: 3;
}
 

@media(max-width:580px) { 
    
    #image5{
        scroll-snap-align: start;
        margin-top: -30px;
        display: flex;
        position: relative;
       padding-bottom: 300px;
        margin-left: 0px;
        width: 100%;
        height: 50%;
        background-image: url('andersen stand.png');
        background-size:100%;
        background-repeat: no-repeat;
        background-position: 0vw 50px;
        z-index: 0;
        flex: none;
    
    }
    #image2{
        scroll-snap-align: start;
        margin-top: -250px;
        display: flex;
        position: relative;
        padding-right: 0%;
        margin-bottom: -300px;
        bottom: -250px;
        width: 100%;
        height: 50%;
        background-image: url('norank stand.png');
        background-size:100% ;
        background-repeat: no-repeat;
        background-position: 0vw 00px;
        z-index: 0;
        flex: none;
    }
    #image{
        scroll-snap-align: start;
        margin-top: -250px;
        display: flex;
        position: relative;
        padding-right: 0%;
        margin-bottom: -300px;
        bottom: -250px;
        width: 100%;
        height: 50%;
        background-image: url('star 3 standing.png');
        background-size:100% ;
        background-repeat: no-repeat;
        background-position: 0vw 00px;
        z-index: 0;
        flex: none;
    }
    #image3{
        scroll-snap-align: start;
        margin-top: -250px;
        display: flex;
        position: relative;
        padding-right: 0%;
        margin-bottom: -300px;
        bottom: -250px;
        width: 100%;
        height: 50%;
        background-image: url('cprl standing.png');
        background-size:100% ;
        background-repeat: no-repeat;
        background-position: 0vw 00px;
        z-index: 0;
        flex: none;
    }
    #image4{
        scroll-snap-align: start;
        margin-top: -250px;
        display: flex;
        position: relative;
        padding-right: 0%;
        margin-bottom: -300px;
        bottom: -250px;
        width: 100%;
        height: 50%;
        background-image: url('sgt standing.png');
        background-size:100% ;
        background-repeat: no-repeat;
        background-position: 0vw 00px;
        z-index: 0;
        flex: none;
    }
    .head{
        transition: all 2s t;
        font-size: .5em;
       
        
    }
    .head h1{
        font-size: 2.7em;
        margin-left: 10px;
        line-height: 20px;
        padding-left: -10px;
    }
    /* .head ul{
        position: absolute;
        display: block;
        background-color: rgb(158, 33, 33);
        margin-top: -10px;
        margin-right: -100vw;
        padding-right: -200px;
        width: 20vw;
        height:100vh;
        /* top:10px;
        left: 70vw;
        
        transform: translateY(390px); */

        
    .head li{
        border: none;
        margin-bottom: 5px;
        background-color: rgb(252, 177, 79, 0.9);;
    }
    section{
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        width: 100vw;
        height: 100vh;
        background-size: cover;
        margin-left: -5px;
        position: relative;
        z-index: 0;
        margin-top: -100px;
        margin-right: -5px;
        /* transform: translateX(-.1rem) */
    }
    
}
