body{
    font-family:  'Bungee', Helvetica, Arial, sans-serif;
    background-color: rgb(253, 53, 53);
    overflow-x: hidden;
    transition: all 3s;
    
}
#container{
    scroll-snap-type: y mandatory;
}
section{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    width: 100vw;
    background-size: cover;
    margin-left: -5px;
    position: relative;
    z-index: 0;
    margin-top: -100px;
    margin-right: -5px;
    transform: translateX(-.1rem)
}
::-webkit-scrollbar{
    width: 0px;
}
#image{
    scroll-snap-align: start;
    margin-top: -250px;
    display: flex;
    position: relative;
    padding-top: 100%;
    margin-left: 0px;
    margin-bottom: -450px;
    width: 100%;
    height: 100%;
    background-image: url('WhatsApp Image 2021-10-20 at 10.24.04 AM.jpeg');
    background-size:100%;
    background-repeat: no-repeat;
    background-position: 0vw 80px;
    z-index: 0;
    flex: none;

}
#image2{
    scroll-snap-align: start;
    margin-top: -250px;
    display: flex;
    position: relative;
    padding-top: 100%;
    margin-bottom: -450px;
    width: 100%;
    height: 100%;
    background-image: url('WhatsApp Image 2021-10-21 at 9.45.41 AM.jpeg');
    background-size:100% ;
    background-repeat: no-repeat;
    background-position: -15px 250px;
    z-index: 0;
    flex: none;
}
.head{
    
    transition: all 2s;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: -10px;
    font-size: .8em;
    box-sizing:border-box;
    position: relative;
    z-index: 2;
}
.head li{
    list-style: none;
    display: inline-block;
    margin: auto;
    margin-top: 5px;
    margin-right: 10px;
    padding: 0px 20px;
    border: 3px #000 solid;
    border-radius: 4px;
    background-color: rgb(252, 177, 79);
    
}
.head li:hover{
    transition: all .5s ;
    background-color:rgb(158, 33, 33);
}

a{
    text-decoration: none;
    color: #fee;
    
}
.head h1{
    padding-left: 10px;
}
 .covertext{
    position: absolute;
    z-index: 1;
    color: #fff;
    background-color: rgb(0, 0, 0,.4);
    display: flex;
    width: 100vw;
    height: 100%;
    margin-top: calc(-100vh+-50vh);
    margin-left: -10px;
    margin-right: -15px;
    margin-bottom: -100px;
    scroll-snap-align: start;

}
.covertext h2{
    display: flex;
    margin: auto;
    scroll-snap-align: start;
}
@media(max-width:800px) { 
    .head{
        transition: all 2s t;
        font-size: .6em;

    }
    .head li{
        margin-bottom: 10px;
        border-width: 2px;
        margin-top: 10px;
    }
    section{
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        width: 100vw;
        background-size: cover;
        margin-left: -5px;
        position: relative;
        z-index: 0;
        margin-top: -100px;
        margin-right: -5px;
        transform: translateX(-.1rem)
    }
    #image{
        scroll-snap-align: start;
        margin-top: -30px;
        display: flex;
        position: relative;
       padding-bottom: 300px;
        margin-left: 0px;
        width: 100%;
        height: 50%;
        background-image: url('WhatsApp Image 2021-10-20 at 10.24.04 AM.jpeg');
        background-size:100%;
        background-repeat: no-repeat;
        background-position: 0vw 50px;
        z-index: 0;
        flex: none;
    
    }
    #image2{
        scroll-snap-align: start;
        margin-top: -250px;
        display: flex;
        position: relative;
        
        margin-bottom: -300px;
        width: 100%;
        height: 50%;
        background-image: url('WhatsApp Image 2021-10-21 at 9.45.41 AM.jpeg');
        background-size:100% ;
        background-repeat: no-repeat;
        background-position: 0vw 250px;
        z-index: 0;
        flex: none;
    }
}
